* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Zilla Slab", serif;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #ff6a23;
}
/* .menu {
  margin-top: 20px;
} */

.hr3 {
  height: 15px;
 width: 360px;
  border: 0;
text-align:right;
  box-shadow: inset 0 12px 12px -12px rgba(9, 84, 132);
}

 /* {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
} */

.btn-container {
  padding-left: 0px;
  
  text-align: center;
}
.btn-container button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3D99CE;
  border-radius: 10px;


  margin: 25px 30px 25px 30px;
}
.btn-container button:hover {
  background-color: #2779BF;
}


.btn-item {
  margin-left: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

#menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-image {
 
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;

    object-fit: cover;
    border: 0.25rem solid black;
    border-radius: 10px;
  
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  #menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}
