.search{
	background-color:rgb(209, 206, 206); 
	margin-top:290px; 
	text-align: center;
}

.ilk {
           
	list-style-type: none;
	text-align: left;
	/* margin: 0; */
	/* padding: 0; */

}

.ilk li {
	display: inline-block;
	font-size: 20px;
	margin-left: 130px;
	margin-top:10px;
}


* {
	box-sizing: border-box;
  }


  /* Create three equal columns that floats next to each other */
  .column {
	float: left;
	padding: 10px;
	height: 120px; 
  }
  
  #ul1 {
	list-style-type: none;
	text-align: center;
	color: black;
  }
  a:link {
	text-decoration:underline;
	color:darkblue;
   }
  